@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Poppins:500);

* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}
body {
	background: url('../images/BWbg.jpeg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	text-align: center;
	font-size: 16px;
}

header {
	background-color: #0030B2;
	height: auto;
	width: 100%;
	text-decoration: none;
	position: fixed;
	top: 0;
	left: 0;
}

section {
	padding:5em 0;
}

footer {
	font-family:'Poppins', sans-serif;
	background-color: #0030B2;
	height: auto;
	width: 100%;
	clear: left;
}

h1 {
	font-family: 'Cinzel', serif;
	font-size: 30px;
	color: #FFF;
	text-align: left;
	letter-spacing: 5px;
	word-spacing: 5px;
	padding: 0px 10px;
	float: left;
}

h2 {
	font-family:'Poppins', sans-serif;
	font-size: 2.5em;
	color: #5986FF;
	text-shadow: 1px 1px 3px rgba(0,0,0,.25), 2px 2px 4px rgba(0,0,0,.15);
}

nav {
	padding: 7px 0 0 0;
	float: right;
}

label {
	font-family:'Poppins', sans-serif;
	font-size: 16px;
	text-decoration: none;
	display: none;
}

aside {
	float: right;
	width: 50%;
}

article {
	padding-bottom: 10px;
	float: left;
}

div {
	padding: 20px;
}

a {
	text-decoration: none;
}

.fright {
	font-size: 14px;
	padding: 0;
	color: #fff;
	text-shadow: none;
	background: none;
}

footer a {
	text-align: left;
	color: #fff;
}

.landing {
	width: 100%;
}

#InDepth {
	width: 50%;
	margin: 0 0 0 50px;
}

#Contact {
	clear: both;
	margin: 0 30%;
}

.pages {
	font-family:'Poppins', sans-serif;
	font-size: 16px;
	color: #828282;
	text-align: right;
	text-decoration: none;
	margin: auto 10px;
}

.pages:hover {
	color: #B29343;
}

img {
	width: 100%;
	display:block;
	margin:auto;
}

#Summary {
	padding-bottom: 30px;
}

#Links {

}

#ConImg {
	max-width: 500px;
	border-width: 5px;
}

#slogan {
	font-family: font-family: 'Poppins', sans-serif;
	color: #B27508;
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
}

#Cover {
	max-width: 450px;
	border-radius: 50%;
	border: 10px solid rgba(255, 172, 24, 0.3);
}

h3 {
	font-family: font-family: 'Cinzel', serif;
	color: #FFC32D;
	background-color: rgba(255, 255, 255, .9);
	text-shadow: 1px 1px 3px rgba(0,0,0,.25), 2px 2px 4px rgba(0,0,0,.15);
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 30px;
}

h4 {
	color: #B29343;
	background-color: rgba(255, 255, 255, .9);
	text-shadow: 1px 1px 3px rgba(89,134,255,.25), 2px 2px 4px rgba(89,134,255,.15);
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 16px;
}

p, ul {
	background-color: rgba(255, 255, 255, 1);
	color: #000;
	font-size: 1.5em;
	font-family: font-family: 'Poppins', sans-serif;
	width: auto;
	padding: 2%;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(28,89,255,.25), 2px 2px 4px rgba(28,89,255,.15);
}

li {
	list-style-type: none;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    padding: 20px;
}

.Contact {
	clear: left;
}

#left {
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    padding: 20px;
    float: right;   
    width: 62%;
}

.links {
	width:50%;
    padding: 10px;
	font-family: font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	text-shadow: 
	-1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

.links:hover {
	background-color: #34577F;
}

.email {
	font-family: font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-decoration: none;
	margin: auto;
	color: #000;
	text-shadow: 
	-1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
}

.email:hover {
	background-color: #34577F;
}

#toggle {
	display: none;
}

@media screen and (max-width:768px) {
	h1 {
		float: none;
		width: 100%;
		text-align: center;
		margin: 0;  
	}

	nav {
		margin: 0;
		text-align: center;
		float: none;
	}

	nav a:hover{
		color: #FFC32D;
		background: #5986FF;
	}

	aside {
		margin-left: none;
	}

	p, ul {
	font-size: 1.3em;
	width: 100%;
	padding: 5% 10%;
	letter-spacing: 2px;
	}

	.pages {
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	margin: auto 25px;
	}
}

@media screen and (max-width:480px) {
	h1 {
		float: none;
		width: 100%;
		text-align: center;
		margin: 20px 0 0;  
	}

	nav {
		display: none;
	}

	a:link{
		display: block;
		padding:15px;
		margin: 0;
	}

	aside {
		margin-left: none;
	}

	label {
		display: block;
		margin: 5px 0;
		color: #828282;
		font-family:'Poppins', sans-serif;
		font-size: 1.3em;
	}

	p, ul {
	font-size: 1em;
	width: 100%;
	padding: 5% 10%;
	letter-spacing: 2px;
	}

	.pages {
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	margin: auto 20px;
	color: #fff;
	}

	#toggle {
		text-align: left;
	}

	#toggle:checked + nav{
		display: block;
		align-content: center;
	} 