/** {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}*/
h1 {
	color: rgb(2,132,130);
}
h2 {
	color: #FFD700;
}

/* Below are ID */
#board {
	height: 80%;
	width: 50%;
	display: inline-block;
}

/* Below are Classes*/
.card {
	height: 200px;
	width: 150px;
	border: 1px #000 solid;
	background-color: #FFFF00;
	border-radius: 10px;
}